<a href="https://colab.research.google.com/github/rogerlog/datasciencexp/blob/main/1_Aula_Modulo_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Regras de Associação

In [1]:
!pip install mlxtend
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.21.6)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.9)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.5.1->mlxtend) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17.1->mlxtend) (2022.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=1.5.1->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (1.2.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [4]:
dados_mercado = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/mercado.csv', sep=';')

In [5]:
dados_mercado

   produto1 produto2  produto3  produto4
0     leite  cerveja       pao  manteiga
1       pao     cafe  manteiga       NaN
2       pao     cafe  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

In [6]:
len(dados_mercado)

10

In [7]:
print(dados_mercado.values[1,1])

cafe

In [8]:
lista_compras = []
for i in range(len(dados_mercado)):
  lista_compras.append([str(dados_mercado.values[i, j]) for j in range(4)])

In [9]:
lista_compras

[['leite', 'cerveja', 'pao', 'manteiga'],
 ['pao', 'cafe', 'manteiga', 'nan'],
 ['pao', 'cafe', 'manteiga', 'nan'],
 ['leite', 'cafe', 'pao', 'manteiga'],
 ['cerveja', 'nan', 'nan', 'nan'],
 ['manteiga', 'nan', 'nan', 'nan'],
 ['pao', 'nan', 'nan', 'nan'],
 ['feijao', 'nan', 'nan', 'nan'],
 ['arroz', 'feijao', 'nan', 'nan'],
 ['arroz', 'nan', 'nan', 'nan']]

In [10]:
te = TransactionEncoder()
te_array = te.fit(lista_compras).transform(lista_compras)
te_array

array([[False, False,  True, False,  True,  True, False,  True],
       [False,  True, False, False, False,  True,  True,  True],
       [False,  True, False, False, False,  True,  True,  True],
       [False,  True, False, False,  True,  True, False,  True],
       [False, False,  True, False, False, False,  True, False],
       [False, False, False, False, False,  True,  True, False],
       [False, False, False, False, False, False,  True,  True],
       [False, False, False,  True, False, False,  True, False],
       [ True, False, False,  True, False, False,  True, False],
       [ True, False, False, False, False, False,  True, False]])

In [11]:
df_prod_mercado = pd.DataFrame(te_array, columns = te.columns_)
df_prod_mercado

   arroz   cafe  cerveja  feijao  leite  manteiga    nan    pao
0  False  False     True   False   True      True  False   True
1  False   True    False   False  False      True   True   True
2  False   True    False   False  False      True   True   True
3  False   True    False   False   True      True  False   True
4  False  False     True   False  False     False   True  False
5  False  False    False   False  False      True   True  False
6  False  False    False   False  False     False   True   True
7  False  False    False    True  False     False   True  False
8   True  False    False    True  False     False   True  False
9   True  False    False   False  False     False   True  False

In [12]:
df_prod_mercado.drop(columns = 'nan', inplace = True)

In [13]:
df_prod_mercado

   arroz   cafe  cerveja  feijao  leite  manteiga    pao
0  False  False     True   False   True      True   True
1  False   True    False   False  False      True   True
2  False   True    False   False  False      True   True
3  False   True    False   False   True      True   True
4  False  False     True   False  False     False  False
5  False  False    False   False  False      True  False
6  False  False    False   False  False     False   True
7  False  False    False    True  False     False  False
8   True  False    False    True  False     False  False
9   True  False    False   False  False     False  False

In [14]:
from mlxtend.frequent_patterns import apriori

In [15]:
frequent_itemsets = apriori(df_prod_mercado, min_support = 0.3, use_colnames = True)
frequent_itemsets

   support               itemsets
0      0.3                 (cafe)
1      0.5             (manteiga)
2      0.5                  (pao)
3      0.3       (manteiga, cafe)
4      0.3            (pao, cafe)
5      0.4        (pao, manteiga)
6      0.3  (pao, manteiga, cafe)

In [16]:
from mlxtend.frequent_patterns import association_rules

In [17]:
frequent_itemsets = apriori(df_prod_mercado,
                            min_support = 0.3,
                            use_colnames = True)

In [18]:
frequent_itemsets

   support               itemsets
0      0.3                 (cafe)
1      0.5             (manteiga)
2      0.5                  (pao)
3      0.3       (manteiga, cafe)
4      0.3            (pao, cafe)
5      0.4        (pao, manteiga)
6      0.3  (pao, manteiga, cafe)

## Regras de Associação

In [19]:
from mlxtend.frequent_patterns import association_rules

In [20]:
regras = association_rules(frequent_itemsets,
                           metric = 'confidence',
                           min_threshold=0.8)
regras

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(cafe),(manteiga),0.3,0.5,0.3,1.0,2.0,0.15,inf
1,(cafe),(pao),0.3,0.5,0.3,1.0,2.0,0.15,inf
2,(pao),(manteiga),0.5,0.5,0.4,0.8,1.6,0.15,2.5
3,(manteiga),(pao),0.5,0.5,0.4,0.8,1.6,0.15,2.5
4,"(pao, cafe)",(manteiga),0.3,0.5,0.3,1.0,2.0,0.15,inf
5,"(manteiga, cafe)",(pao),0.3,0.5,0.3,1.0,2.0,0.15,inf
6,(cafe),"(pao, manteiga)",0.3,0.4,0.3,1.0,2.5,0.18,inf

In [21]:
regras = regras[['antecedents','consequents','support','confidence','lift']]

In [22]:
regras = regras.rename(columns={"antecedents": "se", 
                                "consequents": "então",
                                "support": "suporte",
                                "confidence": "confiança",
                                "lift": "LIFT"})

In [23]:
regras

                 se            então  suporte  confiança  LIFT
0            (cafe)       (manteiga)      0.3        1.0   2.0
1            (cafe)            (pao)      0.3        1.0   2.0
2             (pao)       (manteiga)      0.4        0.8   1.6
3        (manteiga)            (pao)      0.4        0.8   1.6
4       (pao, cafe)       (manteiga)      0.3        1.0   2.0
5  (manteiga, cafe)            (pao)      0.3        1.0   2.0
6            (cafe)  (pao, manteiga)      0.3        1.0   2.5

In [24]:
regras.sort_values(by = 'LIFT', ascending = False)

                 se            então  suporte  confiança  LIFT
6            (cafe)  (pao, manteiga)      0.3        1.0   2.5
0            (cafe)       (manteiga)      0.3        1.0   2.0
1            (cafe)            (pao)      0.3        1.0   2.0
4       (pao, cafe)       (manteiga)      0.3        1.0   2.0
5  (manteiga, cafe)            (pao)      0.3        1.0   2.0
2             (pao)       (manteiga)      0.4        0.8   1.6
3        (manteiga)            (pao)      0.4        0.8   1.6